.card{
    width: 50%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.w3-container{
    padding-left: 2%;
}
.d-flex{
    padding-top: 2%;
    padding-bottom: 2%;
}
// .mat-error{
//     position: absolute;
//     top:127px;
//     left:37px
// }
