<a routerLink="/" routerLinkActive="active" class="nav-link" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
      </svg>
</a>

<div class="w3-container" style="width: 50%; margin: auto;">
        <h2 class="text-center">Update Client</h2>
    

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="w3-row-padding">
            <div class="w3-half">
                <label>First Name</label>
                <mat-error
                *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)">*
              </mat-error>
                <input class="w3-input w3-border" type="text" name="firstName" formControlName="firstName" required
                 [(ngModel)]="updateClient.firstName">
            </div>

            <div class="w3-half">
                <label>Last Name</label>
                <mat-error
                *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)">*
              </mat-error>
                <input class="w3-input w3-border" type="text" name="lastName" formControlName="lastName" required
                 [(ngModel)]="updateClient.lastName">
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-half">
                <label>Address</label>
                <mat-error
                *ngIf="form.get('address')?.invalid && (form.get('address')?.dirty || form.get('address')?.touched)">*
              </mat-error>
                <input class="w3-input w3-border" type="text" name="address" formControlName="address" required
                 [(ngModel)]="updateClient.address">
            </div>


            <div class="w3-half">
                <label>Birth Date</label>
                <mat-error
                *ngIf="form.get('birthDate')?.invalid && (form.get('birthDate')?.dirty || form.get('birthDate')?.touched)">*
              </mat-error>
                <input class="w3-input w3-border" type="date" name="birthDate" formControlName="birthDate" required
                 [(ngModel)]="updateClient.birthDate">
                <span>{{updateClient.birthDate | date:"dd/MM/yyyy"}}</span>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-half">
                <label>Phone</label>
                <mat-error
                *ngIf="form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)">*
              </mat-error>
                <input class="w3-input w3-border" type="text" name="phone" formControlName="phone" required
                 [(ngModel)]="updateClient.phone">
            </div>
            <div class="w3-half">
                <label>Mpbile Phone</label>
                <input class="w3-input w3-border" type="text" name="mobilePhone" formControlName="mobilePhone"
                 [(ngModel)]="updateClient.mobilePhone">
            </div>
        </div>
        <div  class="w3-row-padding">
            <div class="w3-half">
                <button type="submit" class="btn btn-secondary" [disabled]="form.invalid" style="width:200% ;">Submit</button>
            </div>
        </div>
    </form>
</div>